.main {
  padding: 6rem;

  height: 83%;
  /* background-color: red;*/
  overflow-y: scroll;
}

.header {
  background-color: #581D59;
  height: 8%;
}

.footer {
  /*background-color: #39d346;*/
  height: 8%;
  display: flex;
  align-items: center;
}

.body {
  height: 100vh;
}