.main {
  padding: 6rem;

  height: 90%;
  /* background-color: red;*/
  overflow-y: scroll;
}

.header {
  /*background-color: #581D59;*/
  height: 5%;
}

.footer {
  /*background-color: #39d346;*/
  height: 5%;
  display: flex;
  align-items: center;
}

.body {
  height: 100vh;
}