.main {
  padding: 6rem;

  height: 83%;
  /* background-color: red;*/
  overflow-y: scroll;
}

.header {
  background-color: #581D59;
  height: 8%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

}

.header > nav {
  float: right;
  position: relative;
  right: 10px;
}

.header a {
  color: black;
  margin-left: 30px;
}

.footer {
  /*background-color: #39d346;*/
  height: 8%;
  display: flex;
  align-items: center;
}

.body {
  height: 100vh;
}