.task-component {
  margin-bottom: 20px;
}

.task-component-button {
  height: 100%;
  border: none;
}

.task-component-icon {
  cursor: pointer;
}

.input-container {
  margin-left: 10px;
  margin-right: 10px;
}

.input {
  height: 100%;
  width: 100%;
  border: none;
}